datasets/
assets/dataset_splits.npz
assets/features.csv
assets/train_paths_with_emotions.txt
results/**/*
!results/readme.txt
!results/**/
!results/**/data_preparation_report.txt
!results/**/model_evaluating_report.txt
!results/**/model_training_report.pdf
!results/**/script_run_info.txt
!results/**/test_predictions_report.txt